{% extends 'main/base.html' %}
{% block content %}
    {% load static %}
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img src="{% static 'images/1parts.jpeg' %}" alt="З/Ч" style="width: 350px; height: 225px;">
                <div class="card-body">
                    <p class="card-text">{{ object.name }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <p>
                                <a href="/product" class="btn btn-sm btn-outline-secondary">открыть</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}