{% extends 'main/base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Добавление товара
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {% for f in form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}"> {{ f.label }}: </label>{{ f }}</p>
                    <div class="form-error">{{f.errors}}</div>
                    {% endfor %}
                    {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-outline-success">Добавить</button>
                    <a class="btn btn-outline-warning" href="{% url 'catalog:category' %}">Отмена</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Информация
                </div>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                        {{ form.as_p }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}