{% extends 'main/base.html' %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>Хотите удалить продукт "{{ object.name }}"?</p>
                    <button type="submit" class="btn btn-outline-danger">Подтвердить</button>
                    <a class="btn btn-outline-warning" href="{% url 'catalog:product' object.pk %}">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}